    {{#menu-item}}{{#link-to 'chemtrails.index'}}<i class="{{ unbound category-icon 'chemtrails' }}"></i> Chemtrails home{{/link-to}}{{/menu-item}}
    {{#menu-item}}{{#link-to 'flights.index'}}<i class="{{ unbound category-icon 'chemtrails' }}"></i> My sprayings{{/link-to}}{{/menu-item}}
    {{#menu-item}}{{#link-to 'flights.index'}}<i class="{{ unbound category-icon 'chemtrails' }}"></i> Flights{{/link-to}}{{/menu-item}}
    {{#menu-item}}{{#link-to 'index'}}<i class="mdi-communication-invert-colors-on"></i> Compounds{{/link-to}}{{/menu-item}}
    {{#menu-item}}{{#link-to 'index'}}<i class="mdi-action-announcement"></i> Directives <span class="badge blue white-text">5 unread</span>{{/link-to}}{{/menu-item}}
