<header class="fixed fade-in">
  <nav class="grey">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Agents</a>
    </div>
  </nav>
</header>
<section class="with-header-image">
  <div class="header-image">
    <img src="images/organization-med.png" />
  </div>
  <div class="white">
    <div class="container">
      <h3>Agents</h3>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      {{outlet}}
    </div>
  </div>
</section>

