<header class="fixed fade-in">
  <nav class="blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Chemtrails</a>
    </div>
  </nav>
</header>
<section class="with-header-image">
  <div class="header-image">
    <img src="images/chemtrails-med.png" />
  </div>
  <div class="white">
    <div class="container">
      <h3>Chemtrails</h3>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      {{outlet}}
    </div>
  </div>
</section>

