<header class="fixed fade-in">
  <nav class="amber">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">HAARP</a>
    </div>
  </nav>
</header>
<section class="with-header-image">
  <div class="header-image">
    <img src="images/haarp-med.png" />
  </div>
  <div class="white">
    <div class="container">
      <h3>HAARP</h3>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      {{outlet}}
    </div>
  </div>
</section>

