<header class="with-header-content">
  <nav class="haarp">
    <div class="container">
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">HAARP</a>
      </div>
    </div>
  </nav>
</header>
<div class="header-content-wrapper">
  <div class="header-content height-50">
    <img src="images/haarp-med.png" />
  </div>
  <section class="white">
    <div class="container">
      {{outlet}}
    </div>
  </section>
</div>
