<header class="fixed">
  <nav>
    <div class="nav-wrapper indigo">
      <a href="#" class="brand-logo">NWO Italia</a>
    </div>
  </nav>
</header>
<section class="container">
  <div class="row home-buttons">
    <div class="col s6 m4">
      {{#link-to 'chemtrails' class="btn waves-effect waves-light blue"}}
        <i class="mdi-maps-flight left"></i> Chemtrails
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'haarp' class="btn waves-effect waves-light amber"}}
        <i class="mdi-device-wifi-tethering left"></i> HAARP
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'seigniorage' class="btn waves-effect waves-light green"}}
        <i class="mdi-editor-attach-money"></i> Seignorage
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'vaccines' class="btn waves-effect waves-light red"}}
        <i class="mdi-maps-local-hospital left"></i> Vaccines
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'politics' class="btn waves-effect waves-light brown"}}
        <i class="mdi-social-group left"></i> Politics
      {{/link-to}}
    </div>
    <div class="col s6 m4">
      {{#link-to 'mind-control' class="btn waves-effect waves-light lime"}}
        <i class="mdi-action-visibility-off left"></i> Mind Control
      {{/link-to}}
    </div>
  </div>
</section>