<header class="fixed fade-in">
  <nav class="lime">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Mind Control</a>
    </div>
  </nav>
</header>
<section class="with-header-image">
  <div class="header-image">
    <img src="images/mind_control-med.png" />
  </div>
  <div class="white">
    <div class="container">
      <h3>Mind Control</h3>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      {{outlet}}
    </div>
  </div>
</section>

