
header {
  margin-bottom: 10px;
  nav {
    .brand-logo {
      text-align: left;
      padding-left: 10px;
      font-size: 1.4rem;
    }

    a[class^="button"] + .brand-logo {
      margin-left: 38px;
    }
  }

  &.with-header-content {
    height: 0;
    position: relative;
    margin-bottom: 0;

    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;

      transition: background-color 250ms linear;

      .brand-logo {
        transition: opacity 250ms linear;
      }

      &:not(.opaque) {
        box-shadow: none;

        &.chemtrails {
          background-color: rgba(map-get($blue, 'base'), 0) !important;
        }
        &.haarp {
          background-color: rgba(map-get($amber, 'base'), 0) !important;
        }
        &.seigniorage {
          background-color: rgba(map-get($green, 'base'), 0) !important;
        }
        &.vaccines {
          background-color: rgba(map-get($red, 'base'), 0) !important
        }
        &.politics {
          background-color: rgba(map-get($brown, 'base'), 0) !important;
        }
        &.mind-control {
          background-color: rgba(map-get($lime, 'base'), 0) !important;
        }
        &.agents {
          background-color: rgba(map-get($grey, 'base'), 0) !important;
        }

        .brand-logo {
          opacity: 0;
        }
      }
    }
  }
}

.header-content-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  perspective-origin: top left;


  & > .header-content {
    overflow: hidden;
    display: block;

    img {
      -webkit-transform: translateZ(-1px) scale(2);
      transform: translateZ(-1px) scale(2);
      transform-origin: top left;
      display: block;
      width: 100%;
    }
  }

  section {
    transform: translateZ(0);
    margin-top: 10px;
  }
}
