@import "../../bower_components/materialize/sass/materialize";
@import "_categories";
@import "_header";
@import "_collections";
@import "_sidenav";

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  width: 90%;
}


.home-buttons {
  .btn {
    display: block;
    text-align: left;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;

    i.left {
      margin-right: 6px;
    }
  }
}

.row {
  &.no-pad {
    margin-bottom: 0;

    h1, h2, h3, h4, h5, h6, .btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
