@import "../../bower_components/materialize/sass/materialize";

.chemtrails {
  @extend .blue;
}
.haarp {
  @extend .amber;
}
.seigniorage {
  @extend .green;
}
.vaccines {
  @extend .red;
}
.politics {
  @extend .brown;
}
.mind-control {
  @extend .lime;
}
.agents {
  @extend .grey;
}

header {
  nav {
    .brand-logo {
      text-align: left;
      padding-left: 10px;
      font-size: 1.4rem;
      width: calc(100% - 20px)
    }
  }

  &.with-header-content {
    height: 0;
    position: relative;

    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;

      transition: background-color 250ms linear;

      .brand-logo {
        transition: opacity 250ms linear;
      }

      &:not(.opaque) {
        box-shadow: none;

        &.chemtrails {
          background-color: rgba(map-get($blue, 'base'), 0) !important;
        }
        &.haarp {
          background-color: rgba(map-get($amber, 'base'), 0) !important;
        }
        &.seigniorage {
          background-color: rgba(map-get($green, 'base'), 0) !important;
        }
        &.vaccines {
          background-color: rgba(map-get($red, 'base'), 0) !important
        }
        &.politics {
          background-color: rgba(map-get($brown, 'base'), 0) !important;
        }
        &.mind-control {
          background-color: rgba(map-get($lime, 'base'), 0) !important;
        }
        &.agents {
          background-color: rgba(map-get($grey, 'base'), 0) !important;
        }

        .brand-logo {
          opacity: 0;
        }
      }
    }
  }
}

.header-content-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  perspective-origin: top left;


  & > .header-content {
    overflow: hidden;
    display: block;

    img {
      -webkit-transform: translateZ(-1px) scale(2);
      transform: translateZ(-1px) scale(2);
      transform-origin: top left;
      display: block;
      width: 100%;
    }
  }

  section {
    transform: translateZ(0);
  }
}


.container {
  width: 90%;
}


.home-buttons {
  .btn {
    display: block;
    text-align: left;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;

    i.left {
      margin-right: 6px;
    }
  }
}

.row {
  &.no-pad {
    margin-bottom: 0;

    h1, h2, h3, h4, h5, h6, .btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.collection {
  &.card-like {
    @extend .z-depth-1;
    margin: 8px 0;

    article {

      &.flight-preview {
        header {
          font-size: 24px;
          span {
            display: block;
          }
        }
        p {
          margin: 2px 0;
        }
      }
    }
  }
}
