<header>
  <nav class="chemtrails">
    <div class="container">
      <div class="nav-wrapper">
        <a class="button-back" href="#"><i class="mdi-navigation-arrow-back"></i></a>
        <a href="#" class="brand-logo">Flights</a>
      </div>
    </div>
  </nav>
</header>
<section class="white">
  <div class="container">
  </div>
</section>
